/* GENERAL RULES STARTS */
a,
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
a, a:visited, a:link, a:active {
    text-decoration: none;
    color: blue;
}
a:hover {
    text-decoration: underline;
}
body {
    padding: 1rem;
    font-size: 1.7rem;
    font-family: Arial, Helvetica, sans-serif;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0 0.5rem 0.5rem black;
    z-index: 1;
}
.dropdown-content a {
    padding: 1rem 1.5rem;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-content {display: block;}

h1 {
    font-size: 5rem;
    font-weight: 750;
}
h2 {
    font-size: 3rem;
    font-weight: 600;
}
h3 {
    font-size: 2rem;
    font-weight: 500;
}
strong { 
    font-weight: bold;
}
.error-color {
    color: red;
}
.success-color {
    color: green;
}
.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.nav-item {
    padding: 1rem;
}

#home-link {
    text-decoration: none;
    color: black;
}

input[type="submit"],
button[type="submit"] {
    padding: 1rem;
    border: 1px solid grey;
    border-radius: 3.4rem;
    transition: 0.5s;
}
input[type="submit"]:hover,
button[type="submit"]:hover {
    box-shadow: 0 0 1rem grey;
    background-color: #bbb;
}
/* GENERAL RULES ENDS */

/* CREATE LISTING RULES STARTS */
input,
textarea,
select {
    margin-bottom: 2rem;
}
label {
    font-weight: 750;
    padding-bottom: 1rem;
}
.form-wrapper {
    border: 1px solid grey;
    border-radius: 3.4rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

/* CREATE LISTING RULES ENDS */

/* INDEX & WISHLIST RULES STARTS */
.listings-container p,
.wishlist-container p {
    font-size: 1.4rem;
}
.listing-wrapper,
.wishlist-wrapper {
    border: 0.1rem solid #ddd;
    margin-right: -0.1rem;
    margin-top: -0.1rem;
}
.listing-wrapper a,
.wishlist-wrapper a {
    transition: 0.5s;
}
.listing-wrapper a:hover,
.wishlist-wrapper a:hover {
    box-shadow: 0 0 1rem grey;
}
/* INDEX & WISHLIST RULES ENDS */

/* LISTING PAGE RULES STARTS */
#bid-value {
    width: 12ch;
}
.comments-container {
    border-top: 1px solid #ddd;
}
.comment-textarea {
    resize: none;
}
.img-container {
    border-right: 1px solid #ddd;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
.listing-button {
    cursor: pointer;
    padding: 0.75rem;
    margin: 2rem;
}
.listing-button > a {
    text-decoration: none;
    color: black;
}
.listing-description > * {
    padding: 1rem;
}
.listing-description div:nth-child(2) {
    border-top: 1px solid #ddd;
}
.user-comment h4 {
    border-left: 3px solid #ddd;
    padding: 1rem;
    margin-bottom: -1px;
    font-weight: 550;
}
.user-comment p {
    /* border-left: 1px solid #ddd; */
    margin: 0.5rem 2rem;
    padding: 0.5rem 1rem;
}
/* LISTING PAGE RULES ENDS */

/* CATEGORIES PAGE RULES STARTS */
.categories-container {
    border: 1px solid #ddd;
    border-radius: 3.4rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5)
}
.categories-wrapper li {
    padding: 1rem;
}
/* CATEGORIES PAGE RULES ENDS */