/* GENERAL RULES STARTS */
body {
    padding: 1rem;
    font-size: 1.7rem;
    font-family: Arial, Helvetica, sans-serif;
}
a,
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
h1 {
    font-size: 5rem;
    font-weight: 750;
}
h2 {
    font-size: 3rem;
    font-weight: 600;
}
h3 {
    font-size: 2rem;
    font-weight: 500;
}
strong { 
    font-weight: bold;
}
/* GENERAL RULES ENDS */

/* CREATE LISTING RULES STARTS */
input,
textarea,
select {
    margin-bottom: 2rem;
}
label {
    padding-bottom: 1rem;
}
/* CREATE LISTING RULES ENDS */

/* INDEX RULES STARTS */
.listing-wrapper p {
    font-size: 1.4rem;
}
/* INDEX RULES ENDS */

/* LISTING PAGE RULES STARTS */
.img-container {
    position: relative;
}
input[type="checkbox"] {
    position: absolute;
    top: 3%;
    left: 3%;
}
.listing-button {
    cursor: pointer;
    padding: 0.75rem;
    margin: 2rem;
}
.listing-button > a {
    text-decoration: none;
    color: black;
}
/* LISTING PAGE RULES ENDS */
