{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
        <div class="listing-wrapper flex-container row flex-wrap width-100">
            {% for listing in listingList %}
            <div class="width-20 padding-all-s">
                <div class="width-100">
                    <a href="{% url 'listing-page' listing.id %}">
                        <img src="./static/auctions/imgs/Placeholder.png" alt="Listing Image" />
                    </a>
                </div>
                <div class="text-center padding-left-xs padding-right-xs width-100">
                    <p><strong>{{ listing.title }}</strong></p>
                    <p class="description padding-bottom-xs padding-top-xs"> {{ listing.description }} </p>
                    <p>Actual Price: <strong>{{ listing.price|floatformat:2 }} €</strong></p>
                    {% if listing.openListing == False %}
                        <h3><strong>CLOSED</strong></h3>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
<!-- Devo fare vedere i listing -->
<!-- Ogni listing deve avere titolo, descrizione, prezzo e foto -->
<!-- Ogni listing deve linkare alla pagina di se stesso con tutte le relative info -->
<!-- Voglio far vedere un massimo di 4-5 listing per riga (se piccoli); 3 se grandi -->
<!-- Posso raggruppare i vari listing in delle sorta di mini-schede -->
<!-- Devo capire come usare l'url di ciascun listing per impostare l'immagine -->
{% endblock %}