{% extends "auctions/layout.html" %}

{% block body %}
    <h2 class="padding-top-s">Active Listings</h2>
        <div class="listings-container flex-container row flex-wrap width-100 padding-top-m padding-bottom-xl">
            {% for listing in listingList %}
            <div class="listing-wrapper width-20 padding-all-s">
                <div class="width-100 flex-container justify-center margin-bottom-s">
                    <a href="{% url 'listing-page' listing.id %}">
                        {% if listing.imageURL %}
                            <img src="{{ listing.imageURL }}" alt="Listing Image" />
                        {% else %}
                            <img src="../../static/auctions/imgs/Placeholder.png" alt="Placeholder" />
                        {% endif %}
                    </a>
                </div>
                <div class="text-center padding-left-xs padding-right-xs width-100">
                    <p><strong>{{ listing.title }}</strong></p>
                    <p class="description padding-bottom-xs padding-top-xs"> {{ listing.description }} </p>
                    <p>Actual Price: <strong>{{ listing.price|floatformat:2 }} €</strong></p>
                    {% if listing.openListing == False %}
                        <h3><strong>CLOSED</strong></h3>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
{% endblock %}