{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}Auctions{% endblock %}</title>        
        
        <!-- CSS -->
        <link href="{% static './auctions/eric-meyer-reset.css' %}" rel="stylesheet" />
        <link href="{% static './auctions/main-rules.css' %}" rel="stylesheet" />
        <link href="{% static './auctions/styles.css' %}" rel="stylesheet" />
        
    </head>
    <body>
        <a href="{% url 'index' %}" id="home-link">
            <h1>Auctions</h1>
        </a>
        <div>
            {% if user.is_authenticated %}
                Signed in as <strong>{{ user.username }}</strong>.
            {% else %}
                Not signed in.
            {% endif %}
        </div>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
            </li>
            <div class="dropdown">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'categories' %}">Categories</a>
                    <div class="dropdown-content">
                        {% for category in categories %}
                            <a href="{% url 'category' category %}">{{ category }}</a>
                        {% endfor %}
                    </div>
                </li>
            </div>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'create-listing' %}">Create Listing</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'watchlist' %}">Your Watchlist</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
            {% endif %}
        </ul>
        <hr>
        {% block body %}
        {% endblock %}
    </body>
</html>
