{% extends "auctions/layout.html" %}

{% block body %}
    <div class="form-container flex-container justify-center width-100 padding-top-s">
        <div class="form-wrapper flex-container vertical-row align-center width-33 padding-all-s">
            <h2 class="padding-bottom-s">Login</h2>
            {% if message %}
                <div>{{ message }}</div>
            {% endif %}
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <div class="form-fields-wrapper flex-container vertical-row align-center width-100">
                    <input autofocus class="form-control" type="text" name="username" placeholder="Username">
                    <input class="form-control" type="password" name="password" placeholder="Password">
                    <input type="submit" value="Login">
                </div>
            </form>
            Don't have an account? <a href="{% url 'register' %}">Register here.</a>
        </div>
    </div>
{% endblock %}