{% extends "./layout.html" %}

{% block title %}
New Listing
{% endblock %}

{% block body %}
{% if error %}
    <div>
        <p>{{ error }}</p>
    </div>
{% endif %}
<div class="form-container flex-container justify-center width-100">
    <form action="{% url 'create-listing' %}" method="post" class="width-33 padding-top-s">
        {% csrf_token %}
        <div class="form-wrapper flex-container vertical-row align-center width-100 padding-all-s">
            {{ form }}
            <input type="submit" class="margin-top-xs" value="Create Listing" />
        </div>
    </form>
</div>
{% endblock %}