{% extends "./layout.html" %}

{% block title %}
Watchlist
{% endblock %}

{% block body %}
    <div class="messages-django-container text-center">
        {% for message in messages %}
            <span class="{{ message.tags }}-color">{{ message }}</span>
        {% endfor %}
    </div>
    <h2 class="padding-top-s">Your Watchlist Items</h2>
    <div class="wishlist-container flex-container row flex-wrap width-100 padding-top-m padding-bottom-xl"">
        {% for item in user.watchlist.all %}
        <div class="wishlist-wrapper flex-container vertical-row width-20 padding-all-s">
            <div class="img-wrapper width-100 flex-container justify-center margin-bottom-s">
                <a href="{% url 'listing-page' item.id %}">
                    {% if item.imageURL %}
                        <img src="{{ item.imageURL }}" alt="Listing Image" />
                    {% else %}
                        <img src="../../static/auctions/imgs/Placeholder.png" alt="Placeholder" />
                    {% endif %}
                </a>
            </div>
            <div class="text-wrapper text-center padding-left-xs padding-right-xs width-100">
                <h3><strong>{{ item.title }}</strong></h3>
                <p class="description padding-bottom-xs padding-top-xs">{{ item.description }}</p>
                <p>Current Price: <strong>{{ item.price|floatformat:2 }} €</strong></p>
                {% if item.openListing == False %}
                    <h3 class="padding-top-s"><strong>CLOSED</strong></h3>
                {% endif %}
            </div>
            <form action="{% url 'watchlist' %}" class="margin-left-auto margin-right-auto" method="post">
                {% csrf_token %}
                <input type="hidden" class="user-id" name="user-id" value="{{ user.id }}" />
                <button class="listing-button" id="watchlist-item" name="watchlist-item" type="submit" value="{{ item.id }}">
                    <input type="hidden" class="handling-type" name="handling-type" value="remove" />
                    Remove
                </button>
            </form>
        </div>
        {% empty %}
            <div>
                <p>Your Watchlist is actually <strong>EMPTY</strong>. Go to <a href="{% url 'index' %}">Active Listing</a> to find something of your interest to add into your Watchlist!</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}